* text=auto eol=lf

*.py    text eol=lf
*.yaml  text eol=lf
*.yml   text eol=lf
*.md    text eol=lf
*.txt   text eol=lf
*.sh    text eol=lf

*.pt    binary
*.pkl   binary
*.npy   binary
*.npz   binary
*.h5    binary
*.hdf5  binary
*.bin   binary
*.7z    binary
*.zip   binary
